@font-face {
  font-family: 'Sofia-Pro';
  src: url("{{'Sofia Pro Black Az.woff' | asset_url }}") format("woff"),
  url("{{'Sofia Pro Black Az.woff' | asset_url }}") format("woff");
}

main {
  margin-top: 44px;
  font-family: 'Sofia-Pro', Helvetica, Arial, sans-serif;
}

.justify-space-between{
  justify-content: space-between;
}

.announcement-bar__message {
  font-family: 'Sofia-Pro', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 16.5px;
}

.announcement-bar .announcement-bar__message {
  padding: 0;
}

.header__icon--cart {
  width: 12rem;
  text-decoration: none;
}

.cart-text {
  font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 17px;
  cursor: pointer;
}

.cart-count-bubble {
  background-color: #f00;
  width: 2.7rem;
  height: 2.7rem;
  left: 12rem;
}

.cart-count-bubble > span {
  font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}

.header-nav-search__container {
  grid-area: navigation;
  display: flex;
  justify-content: space-between;
}

.header-search-input {
  width: 23%;
}

.navbar-container > header-drawer {
  display: block;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.header-menu-item > span {
  font-family: 'Sofia-Pro', Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.header__active-menu-item {
  font-family: 'Sofia-Pro', Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.header__menu-item:hover span {
  text-decoration: none;
}

.list-menu > li:last-child .header__active-menu-item {
  color: rgb(231, 39, 55);
}

header-menu summary.list-menu__item {
  padding-right: 1rem;
}

.header__menu-item span, details[open]>.header__menu-item {
  font-family: 'Sofia-Pro', Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-decoration: none;
}

.list-menu--inline li:hover .header__menu-item span {
  color: #f5ae34;
}

.header__menu-item .icon-caret {
  display: none;
}

nav.header__inline-menu {
  margin-top: 0 !important;
  margin-left: 0.1rem;
}

.side-navigation, .header__icon--menu[aria-expanded=true]:before {
  top: -5rem;
  height: 100vh !important;
  z-index: 3;
}

.shopify-section-group-header-group {
  position: fixed;
  width: 100%;
}

.search__input {
  border: solid 1px #f5ae34;
  border-radius: 3px 0 0 3px;
  border-right: 0;
  margin: 0;
}

.shopify-section-group-header-group {
  z-index: 3;
}

.section-header.shopify-section-group-header-group {
  top: 40px;
}

.list-menu--inline li:last-child:hover .header__active-menu-item {
  color: rgb(231, 39, 55);
}

.mega-menu__link:hover {
  text-decoration: none !important;
  color: #f5ae34 !important;
}

.mega-menu__link {
  color: #555;
  font-family: 'Sofia-Pro';
  font-size: 18.5px;
  font-weight: 400;
  line-height: 25.9px;
  text-decoration: none !important;
}

.list-unstyled .link {
  padding: 1rem 0;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.search__input:focus {
  box-shadow: none;
}

.field:hover.field:after{
  box-shadow: none !important;
}

.field:after {
  box-shadow: 0 0 0 var(--inputs-border-width) #f5ae34, var(--inputs-border-opacity) !important;
}

.search__button {
  background-color: #f5ae34 !important;
}

.icon-search {
  color: #fff;
}

.field__label {
  color: #f5ae34;
  font-weight: 700;
  font-size: 18px;
}

.header {
  padding-top: 0 !important;
}

.container-news {
  background-color: #f5b1c8;
}

.text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-group > h1, .text-group > h3 {
  text-align: center;
}

.container-news {
  display: flex;
  justify-content: center;
}

.ticker-wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #FFE1EB;
}

.ticker {
  display: inline-block;
  margin-top: 0;
  animation: marquee 120s linear infinite;
}

.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 120s linear infinite;
}

.item-collection-1>.item {
  display: inline-block;
  padding: 0;
  font-size: 24px;
  color: #242424;
  font-weight: 200;
}

.item-collection-2>.item {
  display: inline-block;
  padding: 0;
  font-size: 24px;
  color: #242424;
  font-weight: 200;
}

@keyframes marquee {
  0% {
      transform: translateX(25%)
  }
  100% {
      transform: translateX(-75%)
  }
}

@keyframes swap {
  0%, 50% {
      left: 0%;
  }
  50.01%,
  100% {
      left: 100%;
  }
}

.card__information > .card__heading > a {
  font-family: 'Sofia-Pro', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  line-height: 27px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-slide .card__content > .card__information {
  padding-bottom: 0;
  padding-top: 3rem;
}

.underline-links-hover:hover a {
  text-decoration: none !important;
}

.card__content {
  text-align: center;
  font-size: 14px;
}
/*
.card-information {
  text-align: center !important;
} */

.price-item.price-item--regular {
  font-size: 18px;
}

.card-information .regular-wrapper .price-item {
  font-size: 18px;
}

.price__container .price-item--regular {
  text-decoration: none !important;
  color: #747474;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.price-item--sale {
  color: rgb(101, 28, 171);
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.card-wrapper:hover {
  border: solid 1px #000;
  box-shadow: 0 0 10px 0px #ccc;
  -webkit-box-shadow: 0 0 10px 0px #ccc;
  -moz-box-shadow: 0 0 10px 0px #ccc;
  -ms-box-shadow: 0 0 10px 0px #ccc;
}

.regular {
  font-family: "Proxima-Nova", "Helvetica", Arial, sans-serif;
  text-transform: uppercase;
  color: rgb(116, 116, 116);
  font-size: 10px;
  line-height: 20px;
  text-align: left;
  margin: 0;
}

.rewards {
  font-family: "Proxima-Nova", "Helvetica", Arial, sans-serif;
  margin: 0;
  color: rgb(101, 28, 171);
  font-size: 10px;
  line-height: 20px;
  text-align: left;
}

.price__sale {
  font-family: "Proxima-Nova", "Helvetica", Arial, sans-serif;
  display: flex !important;
}

.price-item {
  display: block !important;
  font-size: 18px;
  text-align: left;
  margin-top: 3px !important;
}

.rewards-wrapper {
  margin-left: 10px;
}

.card-product-footer__text {
  font-family: "Proxima-Nova", "Helvetica", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-top: 25px;
}

.price--on-sale {
  display: flex;
  justify-content: center;
}

.card-wrapper {
  padding: 3rem 0rem 1rem;
}

s.price-item.price-item--regular {
  margin-top: 3px !important;
}

.card__heading {
  display: flex;
  justify-content: center;
  height: 80px;
}

.button {
  text-transform: uppercase;
  /* color: #fff; */
  font-weight: 700;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.collection-listing {
  display: none;
}

.account-text {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
  margin-left: 1rem;
}

.header__icon--account {
  width: 13rem;
  text-decoration: none;
}

.header__icon--account:before {
  /* content: '';
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
  border-top: solid 6px #000;
  position: relative;
  right: -135px;
  top: 0;
  display: inline-block;
  vertical-align: middle; */
}

.header__icon:hover, .header__icon:hover > .account-text {
  color: #f5ae34;
  transition-duration: 0.3s;
}

.link-membership {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  color: #651cab;
  font-family: "Proxima-Nova",Helvetica,Arial,sans-serif;
  text-decoration: none;
}

.link-membership:after {
  content: '';
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
  border-top: solid 6px #651cab;
  position: relative;
  right: -6px;
  top: 0;
  display: inline-block;
  vertical-align: middle;
}

.mdi-gift-outline:before {
  content: "\F02A1";
}

.mdi:before {
  display: inline-block;
  font: normal normal normal 24px / 1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

.header-store-locator {
  display: flex;
  align-items: center;
  color: #555;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .2px;
  margin-left: 30px;
  order: 3;
  position: relative;
  text-align: right;
}

.store-title:after {
  content: '';
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
  border-top: solid 6px #000;
  position: absolute;
  right: -17px;
  top: 20px;
}

#dusksetheadStore > strong {
  font-weight: 700;
  font-size: 17px;
  color: #000;
}

.navbar-logo {
  width: 5rem;
}

.scroll-header .header__icons {
  display: none;
}

.scroll-bottom .header .header__heading-link {
  display: none;
}

.header {
  height: 230px;
  padding-bottom: 1rem !important;
  transition-duration: 0.3s;
}

.header predictive-search {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: none;
}

.scroll-bottom .navbar-logo {
  display: none;
  animation: slideRight 1s;
}

.scroll-bottom .header {
  height: 100px;
}

.collection {
  position: relative;
}

html, body {
	position: relative;
	height: 100%;
}
body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding: 0;
	width: 100%;
	margin: auto;
}
.swiper-container {
	width: 100%;
	height: 100%;
  overflow: hidden;
  padding: 0 0 5rem 0;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-pagination-bullet {
	padding: 0;
  margin: 0 1rem;
	width: 35px !important;
	height: 3px !important;
  border-radius: unset !important;
  border: none !important;
  background-color: #f5ae34 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
	color:#fff;
	background: #ccc !important;
}

.swiper-button__next, .swiper-button__prev {
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.swiper-pagination {
  left: 50%;
  transform: translate(-50%, -50%) !important;
  top: 98%;
}

.collection__view-all {
  margin: 70px 0;
}

.card-collection__btn {
  display: inline-block;
  text-transform: uppercase;
  color: #fff !important;
  background-color: #000;
  padding: 1rem 2.5rem;
  text-decoration: none;
  width: 35%;
}

.card-wrapper .card__content > .card-information-headtext__wrapper {
  padding-top: 4rem;
}

.collection-head--text__wrapper .card__heading > .full-unstyled-link {
  width: 100%;
  line-height: 40px;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}

.title-wrapper-with-link {
  justify-content: center;
}

.contact {
  max-width: 100%;
  background-color: #f0f0f0;
  padding: 3rem;
}

.contact .field > .field__input {
  height: 5.5rem;
}

.contact__button > .button {
  text-transform: unset;
  color: #fff;
  background-color: rgb(245, 174, 52);
  width: 35%;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
}

.contact__button {
  text-align: center;
}

.contact__button > .button:before, .contact__button > .button:after, .contact__button > .button:hover:before, .contact__button > .button:hover:after {
  box-shadow: none;
}

.contact__button > .button:hover {
  background-color: #000;
  transition-duration: 0.3s;
}

.banner {
  margin-top: 3rem;
}

.head-text {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}

.body-text {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
}

.menu-list {
  display: flex;
  list-style-type: none;
  width: 80%;
  justify-content: center;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.menu-item {
  margin: 0 1rem;
}

.menu-item > a {
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}

.new-arrival__menu {
  display: flex;
  justify-content: center;
}

.footer-block__details-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

footer > .footer__content-top .footer-block.grid__item {
  max-width: none;
}

.footer-block__details-content > li > h5 {
  font-family: 'Sofia-Pro', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  color: #000;
}

.footer-block__details-content > li {
  width: 225px;
  text-align: left;
}

.footer-block__details-content > li:last-child {
  width: auto;
}

.sub-menu {
  display: inline-grid;
  padding-left: 0;
}

.sub-menu-item {
  text-align: left;
  margin: 0.5rem 0;
}

.sub-menu-item > a {
  text-decoration: none;
  font-family: 'Sofia-Pro', Helvetica, Arial, sans-serif;
  color: rgb(85, 85, 85);
  font-size: 15.75px;
  font-weight: 300;
  line-height: 28px;
}

.sub-menu-item > a:hover {
  color: rgb(245, 174, 52);
}

.social-icons-wrapper > ul {
  justify-content: flex-start;
}

.body-text {
  margin: 2rem 0;
}

.card-information .regular-wrapper .price-item {
  font-size: 18px;
}

.banner-image-big {
  display: block;
}

.banner-image-small {
  display: none;
}

@media screen and (max-width: 989px) {
  .header {
    grid-template-areas:
    "heading icons icons"
    "navigation navigation navigation";
  }

  .header-search-input {
    width: 50%;
  }
/* 
  .banner-image-big {
    display: none;
  }

  .banner-image-small {
    display: block;
  } */
}

@media screen and (max-width: 749px) {
  .header__icons .header__icon .account-text {
    display: none;
  }

  .header__icon--account:before {
    right: -40px;
  }
}

@media  screen and (min-width: 650px) and (max-width: 1100px) {
  .card-information .regular-wrapper > .price-item, .card-information .rewards-wrapper > .price-item {
    font-size: 15px;
  }

  .footer-block__details-content {
    justify-content: center;
  }
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  .card__content {
    font-size: 8px;
  }
}

.marquee {
  font-size: 19.2px;
  color: #000;
  height: 2.5vw;
  overflow: hidden;
  background-color: #FFE1EB;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: marquee 12s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

.item {
  padding: 1rem;
}

.scroll-header .header__heading {
  display: none;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@keyframes slideRight {
  0% {max-width: 0;}
  100% {max-width: 100%;}
}

details > .menu-drawer {
  top: 0%;
}

.gl-filter-search-fullscreen {
  display: none !important;
}

.gl-col-right, .ui-autocomplete-flex, .ui-icon, body.gl-search-open {
  overflow: auto !important;
}

.collection__title {
  padding-left: 0;
}

.product__description {
  margin-top: 3rem;
}

.card-wrapper {
  width: 100%;
}

.gf-filter-contents {
  padding: 2rem 0 !important;
  border: solid 1px #000 !important;
  border-left: none !important;
  border-right: none !important;
}

.h3 {
  border: none !important;
  font-family: 'sofia-pro';
  font-size: 17px !important;
  font-weight: 500 !important;
  line-height: 20.4px;
}

.collection__title > .title {
  margin-bottom: 0 ;
}

.breadcrumbs {
  margin: 0 0 2em;
}

.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-child):after {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: '';
  display: inline-block;
  height: 0.2em;
  margin: 0 0.2em;
  position: relative;
  transform: rotate(45deg);
  vertical-align: middle;
  width: 0.2em;
}

.breadcrumbs__link {
  text-decoration: underline;
}

.breadcrumbs__link[aria-current='page'] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.breadcrumbs__link[aria-current='page']:hover,
.breadcrumbs__link[aria-current='page']:focus {
  text-decoration: underline;
}