@media screen and (min-width: 750px) {
  .customer:not(.account):not(.order) {
      max-width: var(--page-width);
      margin: 0 auto;
      padding-left: 5rem;
      padding-right: 5rem;
  }
}

#login {
  text-align: left;
}

.header-text {
  font-family: 'Helvetica',Arial,sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
  color: #000;
}

.form-section {
  border: solid 1px rgb(221, 221, 221);
  text-align: left;
  width: 49%;
  padding: 3rem;
}

.form-section > hr {
  margin: 5rem 0;
}

.form-section button {
  background-color: rgb(245, 174, 52);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.form-section button:before, .form-section button:hover:before {
  box-shadow: none;
}

.form-section button:after, .form-section button:hover:after {
  box-shadow: none;
}

.form-section > a {
  padding: 1rem 2rem;
  background-color: #f5ae34;
  color: #fff;
  text-decoration: none;
  margin: 0;
}

.form-section > a:hover, .form-section button:hover {
  color: #fff;
  background-color: #000;
  transition-duration: 0.3s;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.login-guide-text {
  font-family: 'Sofia-Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
  color: #555;
}

.form-section.full-width {
  width: 100%;
}

.name-filed__wrapper {
  display: flex;
}

.field.control-margin {
  margin-top: 0;
  margin-left: 1rem;
}

.field > label {
  color: #f5ae34 !important;
  font-weight: 700;
  font-size: 18px;
}