.c-product--title {
    color: #000;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 28px;
    line-height: 1.1;
    margin: 0 0 30px;
    padding: 0;
}
.c-product--title h1 {
    font-weight: 600 !important;
    font-size: 28px;
    color: black;
}
.c-collection--title {
  font-size: 18px;
  color: #888 !important;
  font-weight: 400;
  line-height: 1.4;
  padding: 0;
}
.c-price--position {
  justify-content: flex-start !important;
}
.c-display-none {
  display: none !important;
}
.c-price--right_border {
  border-right: 1px solid #ddd;
}
.c-review-popup-link {
  color: #000;
  text-decoration: none;
}
.c-review-popup-link:hover {
  color: #f5ae34;
  text-decoration: underline;
}
.helpmodal--text {
    color: #651cab;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
}
.info-icon:after {
  content: '?';
  color: #777;
  width: 18px;
  height: 18px;
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  border: solid 1px #ddd;
  border-color: #777;
  border-radius: 50%;
  cursor: pointer;
}
.amlabel-text-wrapper {
  font-weight: bold;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin-top: 20px;
}
.product-form__quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 40% !important;
  margin: 0 !important;
}
.shopify-payment-button {
  display: none;
}
.quantityy_selector-with-buy-button {
  display: flex;
  align-content: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.c-buy-button {
  width: 45%;
}
.Qty-font {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.2;
}
.quantity__input {
  transform: scale(1.2);
  border: 1px solid #555;
}
.quantity {
  display: flex;
  gap: 10px !important;
  width: 58% !important;
}
.quantity__button {
  background: #ddd !important;
  border-radius: 3px;
}
.quantity__button:hover .quantity__button svg {
  color: #555;
}
.product-form__submit {
  background: #f5ae34;
  color: white;
  border-radius: 5px;
  text-transform: capitalize !important;
  font-size: 22px ;
}
.product-form__submit:hover {
  background: black !important;
  color: white !important;
  
}
.global-media-settings {
  border: 0 !important;
}
.product--large .thumbnail-list {
    grid-template-columns: repeat(3, 1fr) !important;
}

a{
  color: #000;
}

a:hover{
  color: orange;
  transition: 0.2s ease-out;
}

.btn{
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: 0.3s ease-in-out;
  margin-bottom: 1em;
}

.btn:hover{
  background-color: #000;
  color: #fff;
}

/*-------------Accordian-----------------*/

h1 {
  text-align: center;
  margin: 1em 0;
}

.accordion {
  max-width: 50vw;
  margin: 0 auto;
}

.accordion-item {
  border-top: 1px solid #c5c5c5;
  color: #333;
}

.accordion-item h2 {
  padding: 1em;
  margin: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}


.accordion-content {
  max-height: 0; /* Set a default max-height, but don't display it */
  overflow: hidden; /* Hide the content */
  transition: max-height 0.4s ease-out; /* Add a transition effect when sliding down (and up) the content */
  padding: 5px 1em;
}
.accordion-content table {
  margin: 15px 0;
}
.accordion-content a {
  text-decoration: none;
  color: black;
}
.accordion-content a:hover {
  color: #f5ae34;
}

.accordion-content p {
    padding: 5px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    font-family: 'helvetica';
}

/* Add this class to .accordion-content when the accordion item is active/open */
.accordion-content.active {
  max-height: auto; /* Adjust as needed */
}

/*adding the + and - signs*/
.accordion-item h2 {
  position: relative;
  padding-right: 30px; /* Adjust as needed */
}

.accordion-item h2::before {
  content: "+";
  position: absolute;
  right: 10px; /* Adjust as needed */
}

.accordion-item.active h2::before {
  content: "-";
}
#nav-section .container {
  display: flex;
  align-items: center;
  background: #fff url('./bg-woodgrain.png') left top repeat;
  padding: 10px 20px;
}
#nav-section .container .c-product--title {
  width: 50%;
}
#nav-section .container .nav-title {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  text-rendering: geometricPrecision;
  padding-top: 7px;
  float: left;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin: 0;
  line-height: 1.2;
  color: #555;
}
.nav-price-buy-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}
#nav-section .container .price--on-sale .price-item--regular,
#nav-section .container .price-item {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
#nav-section .container .regular {
  font-size: 12px;
  font-weight: 200;
}
#nav-section .container .c-buy-button {
  width: max-content;
  height:47px;
}
#nav-section {
  display: none;
}
.fixed-nav{
  position:fixed;
  top:0;
  width:100%;
  z-index: 10;
  top: 43px;
  display: block;
}

/* For mobile screens */
@media (max-width: 767px) {
  .accordion {
    max-width: 100vw;
    margin: 0 auto;
  }
}


@media screen and (min-width: 750px) {
  .product-media-container.constrain-height {
    --constrained-min-height: 100% !important;
  }
}


@media screen and (min-width: 990px) {
    .product--large:not(.product--no-media) .product__media-wrapper {
      max-width: 50%;
      width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    }
  
    .product--large:not(.product--no-media) .product__info-wrapper {
      padding: 0 0 0 4rem;
      max-width: 50%;
      width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    }
}